{# <!-- use the name assigned by @app.route("/browse") --> #}
<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Streamline Water</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/browse">Browse</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart</a>
        </li>
      </ul>
      <form class="d-flex" role="search" action="/browse">
        <div class="input-group mb-3"></div>
            <input type="text" name="query" class="form-control" placeholder="Search..." aria-label="Search...">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </form>
      <div>
        <p class="invisible">________</p>
      </div>

      {% if current_user.is_authenticated %}
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ current_user.username }}</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/logout">Sign Out</a></li>
          </ul>
        </div>
      {% else %}
        <a href="/sign_in" class="btn btn-outline-secondary">Login</a>
      {% endif %}

    </div>
  </div>
</nav>